.figcaption_hack {
  font-weight: 400;
  --x-height-multiplier: 0.342;
  --baseline-multiplier: 0.22;
  font-family: medium-content-sans-serif-font, "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-style: normal;
  -webkit-font-feature-settings: "liga" on, "lnum" on;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.68);
  letter-spacing: 0;
  position: relative;
  left: 0;
  width: 100%;
  top: 0;
  margin-top: 10px;
  outline: 0;
  text-align: center;
  z-index: 300;
  display: inline-block;
}
